{% extends 'dashboard/index.html.twig' %}

{% block title %}New Drivers{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Registration Form</h4>
                            <p class="card-description">
                                New Driver Registration Form
                            </p>
                            {{ include('drivers/_form.html.twig') }}

                            <a href="{{ path('drivers_index') }}" class="btn btn-link">back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
