{% extends 'dashboard/index.html.twig' %}

{% block title %}Edit Ambulance{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit Ambulance Information</h4>

                            {{ include('ambulance/_form.html.twig', {'button_label': 'Update'}) }}

                            <a href="{{ path('ambulance_index') }}">back to list</a>

                            {{ include('ambulance/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
